# flyctl launch added from .gitignore
# Dependencies and AdonisJS build
**/node_modules
**/build
**/tmp

# Secrets
**/.env
**/.env.local
**/.env.production.local
**/.env.development.local

# Frontend assets compiled code
**/public/assets

# Build tools specific
**/npm-debug.log
**/yarn-error.log

# Editors specific
**/.fleet
**/.idea
**/.vscode

# Platform specific
**/.DS_Store

# flyctl launch added from node_modules/.pnpm/tailwindcss@3.4.1_ts-node@10.9.2/node_modules/tailwindcss/stubs/.gitignore
!node_modules/.pnpm/tailwindcss@3.4.1_ts-node@10.9.2/node_modules/tailwindcss/stubs/**/*
fly.toml
