<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Apneaquatir</title>
  <meta name="description" content="{{ description }}">

  {{-- Fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" as="style">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">

  {{-- Favicon and device icons --}}
  <link rel="icon" href="/favicon.ico">

  {{-- Compiled assets --}}
  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="bg-gray-50 text-base antialiased text-gray-500" layout-root>
  @include('partials/header')

  <div class="min-h-shell" layout-main>
    {{{ await $slots.main() }}}
  </div>

  <footer>
    <div class="max-w-xl mx-auto border-t border-gray-300 text-sm">
      <div class="flex items-center justify-between h-24">
        <p>
          <a
            href=""
            class="font-medium underline">
            Source code
          </a>
        </p>
        <p>
          <span>Made by</span>
          <a href="" class="font-medium underline">Valentin Berceaux</a>
        </p>
      </div>
    </div>
  </footer>

  {{-- A container for display modals --}}
  <div id="modals-container"></div>
</body>
</html>

