@component('layouts/app', { title: 'Accueil' , description:'description' })
  <section class="max-w-screen-2xl mx-auto py-20">
    <div class="my-16">
      <div class="tabs">
        <span class="tab-item active">
          Home
        </span>
      </div>
    </div>
    @each(groupedDate in groupedDates)
      @!component('components/table', { groupedDate, users })
    @end
  </section>
@end


